/*ATRIBUTOS GENERALES PARA TODA LA PAGINA*/
body {
  position: relative;
  min-height: 100vh; /* asegura altura completa */
  margin: 0;
  padding-bottom: 60px; /* espacio para el footer */
}

#divImagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-height: 700px;
  margin-bottom: 20px;
  background-color: blue;
  border: 4px solid black;
}

#divInfo {
  background-color: lightgray;
  border: 4px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.botones {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 20px;
  background-color: blue;
  color: white;
}

#divLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 30px;
}

#divHeader {
  padding: 10px;
  margin-bottom: 20px;
}

#foot {
  background-color: lightblue;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* altura del footer */
}

#divFormulario {
  border: 4px solid black;
  height: 200px;
  min-height: 500px;
  margin-bottom: 4%;
  border-radius: 20px;
  background-color: blue;
  color: white;
}

#gmailTexto {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input[type="email"] {
  border: 4px solid black;
  border-radius: 50px;
  padding: 9px;
  width: 80%;
  margin-bottom: 20px;
  text-align: center;
}

textarea {
  border: 4px solid black;
  border-radius: 20px;
  padding: 9px;
  width: 90%;
  min-height: 100px;
  text-align: center;
}

#botonEnviar {
  border: 4px solid black;
  border-radius: 20px;
  font-size: 30px;
  cursor: pointer;
  background-color: blue;
  color: white;
}

.redes {
  margin: 10px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: blue;
  width: 120%;
  height: 60px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  color: white;
}

#divRedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 500px;
}

.espaciador {
  height: 80px; /* Ajusta la altura del espaciador según sea necesario */
}

.botonRed {
  margin: 10px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: blue;
  width: 120%;
  height: 60px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.redes a:hover {
  text-decoration: underline;
}

.redes:hover {
  background-color: darkblue;
  color: white;
  cursor: pointer;
  border: 4px solid rgb(255, 255, 255);
}
