/*ATRIBUTOS GENERALES PARA TODA LA PAGINA*/
body {
  position: relative;
  min-height: 100vh; /* asegura altura completa */
  margin: 0;
  padding-bottom: 60px; /* espacio para el footer */
}

#divImagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-height: 700px;
  margin-bottom: 20px;
  background-color: blue;
  border: 4px solid black;
}

#divInfo {
  background-color: lightgray;
  border: 4px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.botones {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 20px;
  background-color: blue;
  color: white;
}

#divLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 30px;
}

#divHeader {
  padding: 10px;
  margin-bottom: 20px;
}

#foot {
  background-color: lightblue;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* altura del footer */
}
